extends layout

block content
  
 #container
  ul#messages
  form
       h1 Ask A Question
       label(for="user") Username:
       input(type="text", name="username" id="username")
      
       label(for="message") Message:
       input(type="text", name="message" id="message")
       input(type="button", id="submit" value="Verzenden")

 script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
 script(src="/socket.io/socket.io.js")
 script(src="/javascripts/qa.js")