<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body>
        <div class="container" ng-app="imdApp" ng-controller="myController">
            <h1>Mijn mooie bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>
                <p ng-if="myName">Hello, {{myName}}. Order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" ng-model="productSearch"/>

                    <ul class="productList" >
                        <li ng-repeat="product in products | filter:productSearch">
                            <span class="name">{{product.name}}</span>
                            <small class="quantity">{{qty}}</small>
                            <amount-control qty="qty"></amount-control>
                        </li>
                    </ul>
                    <button class="action">Send your order</button>
                    <p ng-if="status.orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct" >
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" ng-model="productName"/>
                    </div>
                    <button class="action" ng-click="addProduct()" ng-if="productName">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here
            
            var app = angular.module('imdApp', []);

            app.controller('myController', function($scope, $http){
                
                $scope.qty = 0;
                
                
                    $http.get("http://imd.district01.be/product")
                    .success(function(response) {
                        $scope.products = response; 
                        console.log("successful!");
                    })
                    .error(console.log("failed"));
                
                $scope.addProduct = function addProduct(){
                    
                    // WERKT OM EEN OF ANDERE REDEN NIET?? undefined
                    console.log($scope.productName);
                    
                    //workaround met jQuery value:
                    $scope.productName = $(".addProduct input").val();
                    
                    $http.post("http://imd.district01.be/product", 
                                {
                                "name": $scope.productName
                                }
                               )
                    .success(function(response) {
                        console.log("success");
                    })
                    .error(console.log("fail"));
                };
                
                $scope.minusAmount = function minusAmount(){
                    console.log($scope.qty);
                    if($scope.qty>= 1){
                        
                      $scope.qty = $scope.qty -1;  
                    };
                };
                
                
            });
            
            
            // amount control directive
            app.directive('amountControl', function(){
              return {
                template: '<button ng-click="qty = qty + 1">+</button><button ng-click="minusAmount()">-</button>',
                restrict: 'AEC',
                scope: {
                  qty: '=qty'
                },
                link: function ($scope, element, attributes) {

                }
              };
            });
            
            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
