html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font: 14px "Arial", Helvetica, Arial, sans-serif;
    background-color: #3d475d;
        box-sizing: border-box;
}

a {
  color: #00B7FF;
}

#messages, form{
    box-sizing: border-box;
}

#messages{
    float: left;  
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px 0 10px 10px;
    box-sizing: border-box;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: 
}

li{
    padding: 10px;
}

li:nth-child(even){
    background-color: #f0f2f7;
}

li:nth-child(odd){
    background-color: #e5e8ee;
}

li:first-child{
   border-radius: 5px 5px 0 0 ;
}

li:last-child{
   border-radius: 0 0 5px 5px;
}

form{
    width: 300px;
    background-color: #20c0d3;
    float: left;
    padding: 20px;
    border-radius: 0 10px 10px 0;
}

h1{
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

label{
    display: block;
    color: #192533;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

input[type="text"]{
    border: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#submit{
    width: 100%;
    padding: 20px;
    border: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f8d222;
    color: #192533;
}

#submit:hover{
    background-color: #efb007;
}

#container{
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

@media only screen and (max-width:880px){
      
      #messages{
          width: 100%;
          border-radius: 0;
      }
      
      form{
          width: 100%;
          border-radius: 0;
      }
    
    #container{
        width: auto;
        margin-top: 0;
    }
      
  }