html{
    font-size: 62.5%;
    font-family: 'Roboto', 'Arial';
    font-weight: 400;
}

body{
    background-color: #091927;
}

#wrapper{
    width: 360px;
    margin: 0 auto;
    margin-top: 50px;
    height: 620px;
    background: url(../images/bg.png) #2290a8 no-repeat bottom center;
    background-size: contain
}

#topbar{
    background-color: #102539;
    color: white;
    font-size: 2.0rem;
    font-weight: bold;
    overflow: hidden;
}

#topbar a{
    color: white;
    text-decoration: none;
}

#settings:link,
#settings:visited,
#settings:hover,
#settings:active{
    text-indent: -9999px;
    width: 65px;
    height: 65px;
    display: block;
    background: url(../images/settings.png) no-repeat center;
    background-size: 50%;
    float: left;
}

#settings:hover{
    background-color: #0a1726;
}

#myplants:link,
#myplants:visited,
#myplants:hover,
#myplants:active{
    text-indent: -9999px;
    width: 65px;
    height: 65px;
    display: block;
    background: url(../images/crops.png) no-repeat center;
    background-size: 45%;
    float: right;
}

#myplants:hover{
    background-color: #0a1726;
}

#location{
    display: block;
    width: auto;
    text-align: center;
    margin: 0 80px;
    margin-top: 23px;
    font-weight: 500;
}

#date{
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 22px;
}

#weather-info ul{
    background-color: #102539;
    border-radius: 5px;
    margin: 0 20px;
    color: white;
    padding: 20px;
}

#weather-info li{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

#currentdeg{
    text-align: center;
    color: white;
    font-size: 8.0rem;
    font-weight: 500;
    margin: 60px 0 50px 40px;
}

.cf{
    clear: both;
}

.deg{
    position: relative;
    left: -15px;
}

#summary{
    color: white;
    text-align: center;
    font-size: 2.0rem;
    font-family: 500;
}

#weathericon{
    
    margin: 0 auto;
    margin-top: 0px;
    text-indent: -9999px;
    background: no-repeat center;
    background-size: contain;
    width: 100px;
    height: 100px;
}


#rain{
    background: url(../images/icon-rain.png) no-repeat top center;
    background-size: 30%;
    padding-top: 35px;
}


#wind{
    background: url(../images/icon-wind.png) no-repeat top center;
    background-size: 30%;
    padding-top: 35px;
}

#minmax-deg{
    background: url(../images/icon-temp.png) no-repeat top center;
    background-size: 30%;
    padding-top: 35px;
}



























